[user]
  name = Josh Mize
  email = jgmize@imuto.ai

[alias]
  st = status -sb
  ci = commit
  br = branch
  ab = rev-parse --abbrev-ref HEAD
  co = checkout
  df = diff
  lg = log -p
  lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
  pullify = config --add remote.$1.fetch '+refs/pull/*/head:refs/remotes/origin/pr/*'
  pr = "!f() { git fetch origin refs/pull/$1/head:pr/$1; } ; f"
	rb = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
  subup = !git submodule sync && git submodule update --init --recursive
  sha = rev-parse HEAD
  to = push

[core]
  excludesfile = /home/jgmize/.gitignore_global
[push]
  default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
  ff = only
[include]
	path = .gitconfig-private
[github]
	user = jgmize
[magithub]
	online = false
[magithub "status"]
	includeStatusHeader = false
	includePullRequestsSection = false
	includeIssuesSection = false
[init]
	defaultBranch = main
